<!-- <p>articles works!</p>
<p>{{recupArticle |json}}</p> -->

<div class="container">
    <h1 class="mt-5 text-center">📝Liste Articles</h1>
    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchArticle" [(ngModel)]="searchArticle" (input)="articleFound()"> -->
    <div class="row">
        <div class="col-12 col-md-4 " *ngFor="let article of recupArticle ">
            <div class="card mt-4 mb-3 cardArticle">
                <div class="card-body">
                    <h5 class="card-title colorTitle">{{article.title}}</h5>
                    <p class="card-text colorText">{{article.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
